body {
    background-image: url(./img/img1.jpg);
    background-size: cover  ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: antiquewhite;
}
h1 {
    text-align: center;
    font-size: 45px;
}
.temperatura {
    text-align: center;
    font-size: 45px;
    position: center;
    background-color: rgba(79, 76, 76, 0.171);
    /*arriba, derecha, abajo, izquierda*/
    padding: 10% 1% 10% 3%;
    margin: 5% 10%;
    position: relative;
    cursor: crosshair;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #4d4a4a3e;
}


.calidad-aire {
    text-align: center;
    font-size: 45px;
    background-color: rgba(79, 76, 76, 0.171);
    /*arriba, derecha, abajo, izquierda*/
    padding: 10% 1% 10% 3%;
    margin: 5% 10%;
    position: relative;
    cursor: crosshair;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #4d4a4a3e;
}
.ciudad {
    text-align: center;
    font-size: 45px;
    background-color: rgba(79, 76, 76, 0.171);
    /*arriba, derecha, abajo, izquierda*/
    padding: 10% 1% 10% 3%;
    margin: 5% 10%;
    position: relative;
    cursor: crosshair;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #4d4a4a3e;
}

.nubes {
    text-align: center;
    font-size: 45px;
    background-color: rgba(79, 76, 76, 0.171);
    /*arriba, derecha, abajo, izquierda*/
    padding: 10% 1% 10% 3%;
    margin: 5% 10%;
    position: relative;
    cursor: crosshair;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #4d4a4a3e;
}